{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}{{ title|default('Матрица') }}{% endblock %}

{% block main %}
    <div {{ vue_component('Matrix', data) }}></div>
{% endblock %}