{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Главна страница{% endblock %}

{% block main %}
    <div style="font-size: 30pt" class="text-center p-5">
        тут пока пусто 😔
    </div>
{#    <div {{ vue_component('MatrixComponent', {  }) }}></div>#}
{% endblock %}