{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Методы принятия решений{% endblock %}

{% block main %}
{#    <div style="font-size: 30pt" class="text-center p-5">#}
{#        тут пока пусто 😔#}
{#    </div>#}

    <div class="row">
        <div class="col-lg-8">
            <h3>Метод Парето</h3>
            <p>
                <br>
                <b>Описание:</b>
                <br>
                Чтобы оценить, входит ли альтернатива в множество Парето (множество конкурентоспособных решений), надо последовательно эту альтернативу сравнивать с другими альтернативами и проверять, что нет альтернативы, которая ее превосходит.
                Превосходство альтернативы понимается следующим образом:
                альтернатива Х превосходит альтернативу Y, если альтернатива X ни по одному критерию не уступает альтернативе Y и хотя бы по одному показателю превосходит.
                <br>
                <br>
                <b>Формула:</b>
                <br>
                <img src="../img/pareto.jpg" class="img-fluid" alt="pareto">
            </p>
        </div>
        <br>
        <div class="col-lg-8">
            <h3>Метод гарантированного результата</h3>
            <p>
                <br>
                <b>Описание:</b>
                <br>
                Сравнивать значения показателей, определенные в разных единицах измерения (шкалах), нельзя.
                Поэтому в рамках метода гарантированного результата необходимо сначала проводить нормализацию исходной матрицы, используя формулу для показателей, которые требуется максимизировать:
                <img src="../img/gr1.jpg" class="img-fluid" alt="gr" width="100px">
                и формулу для показателей, которые требуется минимизировать:
                <img src="../img/gr2.jpg" class="img-fluid" alt="gr" width="120px">.
                Далее определяются худшие значения по каждой альтернативе.
                После этого альтернативы располагаются по убыванию оценки
                <img src="../img/gr3.jpg" class="img-fluid" alt="gr" width="80px">
                и включаются в результат лучшие альтернативы.

                <br>
                <br>
                <b>Формула:</b>
                <br>
                <img src="../img/gr4.jpg" class="img-fluid" alt="gr" width="180px">
            </p>
        </div>
    </div>
{% endblock %}