{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}{{ title|default('Решение') }}{% endblock %}

{% block main %}
    <div {{ vue_component('CreateTask', data) }}></div>
{% endblock %}